<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" class="opacity-0" lang="en"><!-- BEGIN: Head -->
    
    <meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
    <head>
        <meta charset="utf-8">
        <meta name="csrf-token" content="Koo2zWJKliRELq4FawEfkQPg3CJYusp6ppGFZw4O">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Midone admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.">
        <meta name="keywords" content="admin template, midone Admin Template, dashboard template, flat admin template, responsive admin template, web app">
        <meta name="author" content="LEFT4CODE">
        <title>Visca APP - Test Programmer</title>
        <!-- BEGIN: CSS Assets-->
        <link rel="stylesheet" href="/assets/dist/css/vendors/tabulator.css">
        <link rel="stylesheet" href="/assets/dist/css/vendors/simplebar.css">
        <link rel="stylesheet" href="/assets/dist/css/components/mobile-menu.css">
        <link rel="stylesheet" href="/assets/dist/css/vendors/tippy.css">
        <link rel="stylesheet" href="/assets/dist/css/themes/enigma/side-nav.css">
        <link rel="stylesheet" href="/assets/dist/css/app.css">
        <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/assets/dist/css/vendors/toastify.css">
        <style>
            /* Menyesuaikan lebar dropdown "Show entries" */
            .dataTables_length {
                width: 200px; /* Sesuaikan lebar sesuai kebutuhan Anda */
            }

            /* Menyesuaikan lebar opsi dropdown */
            .dataTables_length select {
                width: 30%; /* Menggunakan lebar penuh */
                box-sizing: border-box; /* Menambahkan padding dan border ke dalam lebar */
            }
        </style>
        <!-- END: CSS Assets-->
    </head>
    <!-- END: Head -->
    <body>
        <div class="enigma py-5 px-5 md:py-0 sm:px-8 md:px-0 before:content-[''] before:bg-gradient-to-b before:from-theme-1 before:to-theme-2 dark:before:from-darkmode-800 dark:before:to-darkmode-800 md:before:bg-none md:bg-slate-200 md:dark:bg-darkmode-800 before:fixed before:inset-0 before:z-[-1]">
            <!-- BEGIN: Top Bar -->
            <div class="h-[70px] md:h-[65px] z-[51] border-b border-white/[0.08] mt-12 md:mt-0 -mx-5 sm:-mx-8 md:-mx-0 px-3 md:border-b-0 relative md:fixed md:inset-x-0 md:top-0 sm:px-8 md:px-10 md:pt-10 md:bg-gradient-to-b md:from-slate-100 md:to-transparent dark:md:from-darkmode-700 before:content-[''] before:absolute before:h-[65px] before:inset-0 before:top-0 before:mx-7 before:bg-primary/30 before:mt-3 before:rounded-xl before:hidden before:md:block before:dark:bg-darkmode-600/30 after:content-[''] after:absolute after:inset-0 after:h-[65px] after:mx-3 after:bg-primary after:mt-5 after:rounded-xl after:shadow-md after:hidden after:md:block after:dark:bg-darkmode-600">
                <div class="flex h-full items-center">
                    <!-- BEGIN: Logo -->
                    <a href="#" class="-intro-x hidden md:flex xl:w-[180px]">
                        <img class="w-6" src="/assets/dist/images/logo.svg" alt="Enigma Tailwind HTML Admin Template">
                        <span class="ml-3 text-lg text-white hidden xl:block">
                            Visca APP
                        </span>
                    </a>
                    <!-- END: Logo -->
                    <!-- BEGIN: Breadcrumb -->
                    <nav aria-label="breadcrumb" class="flex h-[45px] md:ml-10 md:border-l border-white/[0.08] dark:border-white/[0.08] mr-auto -intro-x md:pl-6">
                        <ol class="flex items-center text-theme-1 dark:text-slate-300 text-white/90">
                            <li class="">
                                <a href="#">Aplikasi</a>
                            </li>
                            <li class="relative ml-5 pl-0.5 before:content-[''] before:w-[14px] before:h-[14px] before:bg-chevron-white before:transform before:rotate-[-90deg] before:bg-[length:100%] before:-ml-[1.125rem] before:absolute before:my-auto before:inset-y-0 dark:before:bg-chevron-white text-white/70">
                                <a href="#">List Produk</a>
                            </li>
                        </ol>
                    </nav>
                    <!-- END: Breadcrumb -->
                    <!-- BEGIN: Account Menu -->
                    <div data-tw-merge="" data-tw-placement="bottom-end" class="dropdown relative"><button data-tw-toggle="dropdown" aria-expanded="false" class="cursor-pointer image-fit zoom-in intro-x block h-8 w-8 scale-110 overflow-hidden rounded-full shadow-lg"><img src="/assets/dist/images/fakers/profile-9.jpg" alt="Midone Tailwind HTML Admin Template">
                        </button>
                        <div data-transition="" data-selector=".show" data-enter="transition-all ease-linear duration-150" data-enter-from="absolute !mt-5 invisible opacity-0 translate-y-1" data-enter-to="!mt-1 visible opacity-100 translate-y-0" data-leave="transition-all ease-linear duration-150" data-leave-from="!mt-1 visible opacity-100 translate-y-0" data-leave-to="absolute !mt-5 invisible opacity-0 translate-y-1" class="dropdown-menu absolute z-[9999] hidden">
                            <div data-tw-merge="" class="dropdown-content rounded-md border-transparent p-2 shadow-[0px_3px_10px_#00000017] dark:border-transparent dark:bg-darkmode-600 relative mt-px w-56 bg-theme-1/80 text-white before:absolute before:inset-0 before:z-[-1] before:block before:rounded-md before:bg-black">
                                <div class="p-2 font-medium font-normal">
                                    <div class="font-medium">Bima Sakti Putra</div>
                                    <div class="mt-0.5 text-xs text-white/70 dark:text-slate-500">
                                        Website Developer
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END: Account Menu -->
                </div>
            </div>
            <!-- END: Top Bar -->
            <div class="flex overflow-hidden">
                <!-- BEGIN: Content -->
                <div class="max-w-full md:max-w-none rounded-[30px] md:rounded-none px-4 md:px-[22px] min-w-0 min-h-screen bg-slate-100 flex-1 md:pt-20 pb-10 mt-5 md:mt-1 relative dark:bg-darkmode-700 before:content-[''] before:w-full before:h-px before:block">
                    <div class="intro-y mt-8 flex flex-col items-center sm:flex-row">
                        <h2 class="mr-auto text-lg font-medium">List Produk</h2>
                        <div class="mt-4 flex w-full sm:mt-0 sm:w-auto">
                            <button data-tw-merge="" class="transition duration-200 border inline-flex items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&:hover:not(:disabled)]:bg-opacity-90 [&:hover:not(:disabled)]:border-opacity-90 [&:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed bg-primary border-primary text-white dark:border-primary mr-2 shadow-md btn-tambah">Tambah Produk Baru</button>
                        </div>
                    </div>
                    <!-- BEGIN: HTML Table Data -->
                    <div class="intro-y box p-5 mt-5">
                        <div class="overflow-x-auto scrollbar-hidden">
                            <table id="data-table" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Nama Produk</th>
                                        <th>Kategori</th>
                                        <th>Harga</th>
                                        <th>Status</th>
                                        <th>Aksi</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END: HTML Table Data -->
                </div>
                <!-- END: Content -->
            </div>
        </div>
        <!-- Modal Create Data Section -->
            <!-- BEGIN: Modal Content -->
            <div data-tw-backdrop="" aria-hidden="true" tabindex="-1" id="header-footer-modal-preview" class="modal group bg-black/60 transition-[visibility,opacity] w-screen h-screen fixed left-0 top-0 [&:not(.show)]:duration-[0s,0.2s] [&:not(.show)]:delay-[0.2s,0s] [&:not(.show)]:invisible [&:not(.show)]:opacity-0 [&.show]:visible [&.show]:opacity-100 [&.show]:duration-[0s,0.4s]">
                <div data-tw-merge class="w-[90%] mx-auto bg-white relative rounded-md shadow-md transition-[margin-top,transform] duration-[0.4s,0.3s] -mt-16 group-[.show]:mt-16 group-[.modal-static]:scale-[1.05] dark:bg-darkmode-600 sm:w-[460px]">
                    <div class="flex items-center px-5 py-3 border-b border-slate-200/60 dark:border-darkmode-400">
                        <h2 class="mr-auto text-base font-medium">
                            Form Tambah Data
                        </h2>
                        <a data-tw-dismiss="modal" href="javascript:;"> <i data-lucide="x" class="w-8 h-8 text-gray-500"></i></a>
                    </div>
                    <div data-tw-merge class="p-5 grid grid-cols-12 gap-4 gap-y-3">
                        <div class="col-span-12 sm:col-span-12">
                            <label data-tw-merge for="modal-form-1" class="inline-block mb-2 group-[.form-inline]:mb-2 group-[.form-inline]:sm:mb-0 group-[.form-inline]:sm:mr-5 group-[.form-inline]:sm:text-right">
                                Kategori
                            </label>
                            <select data-tw-merge="" aria-label="Default select example" class="disabled:bg-slate-100 disabled:cursor-not-allowed disabled:dark:bg-darkmode-800/50 [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md py-2 px-3 pr-8 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 group-[.form-inline]:flex-1 mt-2 sm:mr-2 form-id-kategori" required>
                                <option disabled selected> --- Pilih Kategori Produk --- </option>
                            </select>
                        </div>
                        <div class="col-span-12 sm:col-span-12">
                            <label data-tw-merge for="modal-form-3" class="inline-block mb-2 group-[.form-inline]:mb-2 group-[.form-inline]:sm:mb-0 group-[.form-inline]:sm:mr-5 group-[.form-inline]:sm:text-right">
                                Nama Produk
                            </label>
                            <input data-tw-merge type="text" placeholder="Sosis Kenzler" class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 [&[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10 form-nama" required/>
                            <div class="mt-2 text-danger nama-create-notif">
                                Kolom nama tidak boleh kosong
                            </div>
                        </div>
                        <div class="col-span-12 sm:col-span-12">
                            <label data-tw-merge for="modal-form-4" class="inline-block mb-2 group-[.form-inline]:mb-2 group-[.form-inline]:sm:mb-0 group-[.form-inline]:sm:mr-5 group-[.form-inline]:sm:text-right">
                                Harga
                            </label>
                            <input data-tw-merge type="text" placeholder="8000" class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 [&[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10 form-harga" value="0" />
                            <div class="mt-2 text-danger harganull-create-notif">
                                Kolom harga tidak boleh kosong
                            </div>
                            <div class="mt-2 text-danger harga-create-notif">
                                Kolom harga hanya di isi dengan angka
                            </div>
                        </div>
                        <div class="col-span-12 sm:col-span-12">
                            <label data-tw-merge for="modal-form-2" class="inline-block mb-2 group-[.form-inline]:mb-2 group-[.form-inline]:sm:mb-0 group-[.form-inline]:sm:mr-5 group-[.form-inline]:sm:text-right">
                                Status
                            </label>
                            <select data-tw-merge="" aria-label="Default select example" class="disabled:bg-slate-100 disabled:cursor-not-allowed disabled:dark:bg-darkmode-800/50 [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md py-2 px-3 pr-8 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 group-[.form-inline]:flex-1 mt-2 sm:mr-2 form-id-status" required>
                                <option disabled selected> --- Pilih Status Produk --- </option>
                            </select>
                        </div>
                    </div>
                    <div class="px-5 py-3 text-right border-t border-slate-200/60 dark:border-darkmode-400">
                        <button data-tw-merge type="button" class="transition duration-200 border shadow-sm inline-flex items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&:hover:not(:disabled)]:bg-opacity-90 [&:hover:not(:disabled)]:border-opacity-90 [&:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed bg-primary border-primary text-white dark:border-primary w-20 w-20 btn-simpan">Simpan</button>
                    </div>
                </div>
            </div>
            <!-- END: Modal Content -->
            <!-- Toast Menu Create -->
                <!-- BEGIN: Success Notification Content -->
                <div id="success-notification-content" class="py-5 pl-5 pr-14 bg-white border border-slate-200/60 rounded-lg shadow-xl dark:bg-darkmode-600 dark:text-slate-300 dark:border-darkmode-600 hidden flex">
                    <i data-tw-merge="" data-lucide="check-circle" class="stroke-1.5 w-5 h-5 text-success"></i>
                    <div class="ml-4 mr-4">
                        <div class="font-medium">Pembuatan produk baru berhasil!</div>
                        <div class="mt-1 text-slate-500 pesan-sukses"></div>
                    </div>
                </div>
                <!-- END: Success Notification Content -->
                <!-- BEGIN: Success Notification Content -->
                <div id="failed-notification-content" class="py-5 pl-5 pr-14 bg-white border border-slate-200/60 rounded-lg shadow-xl dark:bg-darkmode-600 dark:text-slate-300 dark:border-darkmode-600 hidden flex">
                    <i data-tw-merge="" data-lucide="x-circle" class="stroke-1.5 w-5 h-5 text-success"></i>
                    <div class="ml-4 mr-4">
                        <div class="font-medium">Pembuatan produk baru gagal!</div>
                        <div class="mt-1 text-slate-500 pesan-gagal"></div>
                    </div>
                </div>
                <!-- END: Success Notification Content -->
            <!-- End Toast Menu -->
        <!-- End Modal Section -->
        
        <!-- Modal Update Data Section -->
            <!-- BEGIN: Modal Content -->
            <div data-tw-backdrop="" aria-hidden="true" tabindex="-1" id="header-update-footer-modal-preview" class="modal group bg-black/60 transition-[visibility,opacity] w-screen h-screen fixed left-0 top-0 [&:not(.show)]:duration-[0s,0.2s] [&:not(.show)]:delay-[0.2s,0s] [&:not(.show)]:invisible [&:not(.show)]:opacity-0 [&.show]:visible [&.show]:opacity-100 [&.show]:duration-[0s,0.4s]">
                <div data-tw-merge class="w-[90%] mx-auto bg-white relative rounded-md shadow-md transition-[margin-top,transform] duration-[0.4s,0.3s] -mt-16 group-[.show]:mt-16 group-[.modal-static]:scale-[1.05] dark:bg-darkmode-600 sm:w-[460px]">
                    <div class="flex items-center px-5 py-3 border-b border-slate-200/60 dark:border-darkmode-400">
                        <h2 class="mr-auto text-base font-medium">
                            Form Ubah Data
                        </h2>
                        <a data-tw-dismiss="modal" href="javascript:;"> <i data-lucide="x" class="w-8 h-8 text-gray-500"></i></a>
                    </div>
                    <div data-tw-merge class="p-5 grid grid-cols-12 gap-4 gap-y-3">
                        <div class="col-span-12 sm:col-span-12">
                            <label data-tw-merge for="modal-form-1" class="inline-block mb-2 group-[.form-inline]:mb-2 group-[.form-inline]:sm:mb-0 group-[.form-inline]:sm:mr-5 group-[.form-inline]:sm:text-right">
                                Kategori
                            </label>
                            <select data-tw-merge="" aria-label="Default select example" class="disabled:bg-slate-100 disabled:cursor-not-allowed disabled:dark:bg-darkmode-800/50 [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md py-2 px-3 pr-8 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 group-[.form-inline]:flex-1 mt-2 sm:mr-2 upd-id-kategori" required>
                                <option disabled selected> --- Pilih Kategori Produk --- </option>
                            </select>
                        </div>
                        <div class="col-span-12 sm:col-span-12">
                            <label data-tw-merge for="modal-form-3" class="inline-block mb-2 group-[.form-inline]:mb-2 group-[.form-inline]:sm:mb-0 group-[.form-inline]:sm:mr-5 group-[.form-inline]:sm:text-right">
                                Nama Produk
                            </label>
                            <input data-tw-merge type="hidden" class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 [&[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10 upd-id" required/>
                            <input data-tw-merge type="text" placeholder="Sosis Kenzler" class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 [&[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10 upd-nama" required/>
                            <div class="mt-2 text-danger nama-update-notif">
                                Kolom nama tidak boleh kosong
                            </div>
                        </div>
                        <div class="col-span-12 sm:col-span-12">
                            <label data-tw-merge for="modal-form-4" class="inline-block mb-2 group-[.form-inline]:mb-2 group-[.form-inline]:sm:mb-0 group-[.form-inline]:sm:mr-5 group-[.form-inline]:sm:text-right">
                                Harga
                            </label>
                            <input data-tw-merge type="text" placeholder="8000" class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 [&[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10 upd-harga" value="0" />
                            <div class="mt-2 text-danger harganull-update-notif">
                                Kolom harga tidak boleh kosong
                            </div>
                            <div class="mt-2 text-danger harga-update-notif">
                                Kolom harga hanya di isi dengan angka
                            </div>
                        </div>
                        <div class="col-span-12 sm:col-span-12">
                            <label data-tw-merge for="modal-form-2" class="inline-block mb-2 group-[.form-inline]:mb-2 group-[.form-inline]:sm:mb-0 group-[.form-inline]:sm:mr-5 group-[.form-inline]:sm:text-right">
                                Status
                            </label>
                            <select data-tw-merge="" aria-label="Default select example" class="disabled:bg-slate-100 disabled:cursor-not-allowed disabled:dark:bg-darkmode-800/50 [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md py-2 px-3 pr-8 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 group-[.form-inline]:flex-1 mt-2 sm:mr-2 upd-id-status" required>
                                <option disabled selected> --- Pilih Status Produk --- </option>
                            </select>
                        </div>
                    </div>
                    <div class="px-5 py-3 text-right border-t border-slate-200/60 dark:border-darkmode-400">
                        <button data-tw-merge type="button" class="transition duration-200 border shadow-sm inline-flex items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&:hover:not(:disabled)]:bg-opacity-90 [&:hover:not(:disabled)]:border-opacity-90 [&:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed bg-primary border-primary text-white dark:border-primary w-20 w-20 btn-update">Simpan</button>
                    </div>
                </div>
            </div>
            <!-- END: Modal Content -->
            <!-- Toast Menu Update -->
                <!-- BEGIN: Success Notification Content -->
                <div id="success-update-notification-content" class="py-5 pl-5 pr-14 bg-white border border-slate-200/60 rounded-lg shadow-xl dark:bg-darkmode-600 dark:text-slate-300 dark:border-darkmode-600 hidden flex">
                    <i data-tw-merge="" data-lucide="check-circle" class="stroke-1.5 w-5 h-5 text-success"></i>
                    <div class="ml-4 mr-4">
                        <div class="font-medium">Update data produk berhasil!</div>
                        <div class="mt-1 text-slate-500 update-sukses"></div>
                    </div>
                </div>
                <!-- END: Success Notification Content -->
                <!-- BEGIN: Success Notification Content -->
                <div id="failed-update-notification-content" class="py-5 pl-5 pr-14 bg-white border border-slate-200/60 rounded-lg shadow-xl dark:bg-darkmode-600 dark:text-slate-300 dark:border-darkmode-600 hidden flex">
                    <i data-tw-merge="" data-lucide="x-circle" class="stroke-1.5 w-5 h-5 text-success"></i>
                    <div class="ml-4 mr-4">
                        <div class="font-medium">Update data produk gagal!</div>
                        <div class="mt-1 text-slate-500 update-gagal"></div>
                    </div>
                </div>
                <!-- END: Success Notification Content -->
            <!-- End Toast Menu -->
        <!-- End Modal Section -->

        <!-- Modal Hapus Data -->
        <!-- BEGIN: Modal Content -->
        <div data-tw-backdrop="" aria-hidden="true" tabindex="-1" id="delete-modal-preview" class="modal group bg-black/60 transition-[visibility,opacity] w-screen h-screen fixed left-0 top-0 [&:not(.show)]:duration-[0s,0.2s] [&:not(.show)]:delay-[0.2s,0s] [&:not(.show)]:invisible [&:not(.show)]:opacity-0 [&.show]:visible [&.show]:opacity-100 [&.show]:duration-[0s,0.4s]">
            <div data-tw-merge class="w-[90%] mx-auto bg-white relative rounded-md shadow-md transition-[margin-top,transform] duration-[0.4s,0.3s] -mt-16 group-[.show]:mt-16 group-[.modal-static]:scale-[1.05] dark:bg-darkmode-600 sm:w-[460px]">
                <div class="p-5 text-center">
                    <i data-tw-merge data-lucide="x-circle" class="stroke-1.5 w-5 h-5 mx-auto mt-3 h-16 w-16 text-danger mx-auto mt-3 h-16 w-16 text-danger"></i>
                    <div class="mt-5 text-3xl">Apa kamu yakin hapus produk?</div>
                    <div class="mt-2 text-slate-500">
                        Apa kamu yakin akan menghapus data produk ini? <br />
                        Data akan dihapus secara permanent.
                    </div>
                </div>
                <div class="px-5 pb-8 text-center">
                    <button data-tw-merge data-tw-dismiss="modal" type="button" class="transition duration-200 border shadow-sm inline-flex items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&:hover:not(:disabled)]:bg-opacity-90 [&:hover:not(:disabled)]:border-opacity-90 [&:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed border-secondary text-slate-500 dark:border-darkmode-100/40 dark:text-slate-300 [&:hover:not(:disabled)]:bg-secondary/20 [&:hover:not(:disabled)]:dark:bg-darkmode-100/10 mr-1 w-24 mr-1 w-24">Batal</button>
                    <button data-tw-merge type="button" class="transition duration-200 border shadow-sm inline-flex items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&:hover:not(:disabled)]:bg-opacity-90 [&:hover:not(:disabled)]:border-opacity-90 [&:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed bg-danger border-danger text-white dark:border-danger w-24 w-24 btn-iya">Hapus</button>
                </div>
            </div>
        </div>
        <!-- END Modal Hapus Data -->
         <!-- Toast Menu Hapus -->
                <!-- BEGIN: Success Notification Content -->
                <div id="success-hapus-notification-content" class="py-5 pl-5 pr-14 bg-white border border-slate-200/60 rounded-lg shadow-xl dark:bg-darkmode-600 dark:text-slate-300 dark:border-darkmode-600 hidden flex">
                    <i data-tw-merge="" data-lucide="check-circle" class="stroke-1.5 w-5 h-5 text-success"></i>
                    <div class="ml-4 mr-4">
                        <div class="font-medium">Hapus data produk berhasil!</div>
                        <div class="mt-1 text-slate-500 hapus-sukses"></div>
                    </div>
                </div>
                <!-- END: Success Notification Content -->
                <!-- BEGIN: Success Notification Content -->
                <div id="failed-hapus-notification-content" class="py-5 pl-5 pr-14 bg-white border border-slate-200/60 rounded-lg shadow-xl dark:bg-darkmode-600 dark:text-slate-300 dark:border-darkmode-600 hidden flex">
                    <i data-tw-merge="" data-lucide="x-circle" class="stroke-1.5 w-5 h-5 text-success"></i>
                    <div class="ml-4 mr-4">
                        <div class="font-medium">Hapus data produk gagal!</div>
                        <div class="mt-1 text-slate-500 hapus-gagal"></div>
                    </div>
                </div>
                <!-- END: Success Notification Content -->
            <!-- End Toast Menu -->
        <!-- BEGIN: Vendor JS Assets-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.29.1/dist/feather.min.js"></script>
        <script src="/assets/dist/js/vendors/toastify.js"></script>
        <script src="/assets/dist/js/vendors/dom.js"></script>
        <script src="/assets/dist/js/vendors/tailwind-merge.js"></script>
        <script src="/assets/dist/js/vendors/lucide.js"></script>
        <script src="/assets/dist/js/vendors/popper.js"></script>
        <script src="/assets/dist/js/vendors/dropdown.js"></script>
        <script src="/assets/dist/js/vendors/tippy.js"></script>
        <script src="/assets/dist/js/vendors/transition.js"></script>
        <script src="/assets/dist/js/vendors/simplebar.js"></script>
        <script src="/assets/dist/js/vendors/tabulator.js"></script>
        <script src="/assets/dist/js/vendors/xlsx.js"></script>
        <script src="/assets/dist/js/vendors/modal.js"></script>
        <script src="/assets/dist/js/components/base/theme-color.js"></script>
        <script src="/assets/dist/js/components/base/lucide.js"></script>
        <script src="/assets/dist/js/themes/enigma.js"></script>
        <script src="/assets/dist/js/pages/tabulator.js"></script>
        <script src="/assets/dist/js/components/mobile-menu.js"></script>
        <script src="/assets/dist/js/components/themes/enigma/top-bar.js"></script>
        <script src="/assets/dist/js/pages/modal.js"></script>
        <script>
            // cek package jquery
            jQuery(document).ready(function(){
                // Hide Element
                jQuery('.nama-create-notif').hide()
                jQuery('.harga-create-notif').hide()
                jQuery('.harganull-create-notif').hide()
                jQuery('.nama-update-notif').hide()
                jQuery('.harga-update-notif').hide()
                jQuery('.harganull-update-notif').hide()

                // Panggil data support Role
                var url = 'http://localhost:8080/api/v1/support-data/kategori';
                fetch(url, {
                    method: 'GET',
                }).then(response => response.json()).then(data => {
                    var id_kategori = jQuery('.form-id-kategori');
                    var id_upd_kategori = jQuery('.upd-id-kategori');

                    // Iterasi melalui data dan membuat objek untuk setiap entri
                    jQuery.each(data, function(index, item) {
                        for (let i = 0; i < item.length; i++) {
                            id_kategori.append('<option value="' + item[i].id + '">' + item[i].nama + '</option>');
                            id_upd_kategori.append('<option value="' + item[i].id + '">' + item[i].nama + '</option>');
                        }
                    });
                }).catch(error => {
                    console.error('Error:', error);
                });

                // Panggil data support Role
                var url = 'http://localhost:8080/api/v1/support-data/status';
                fetch(url, {
                    method: 'GET',
                }).then(response => response.json()).then(data => {
                    var id_status = jQuery('.form-id-status');
                    var id_upd_status = jQuery('.upd-id-status');

                    // Iterasi melalui data dan membuat objek untuk setiap entri
                    jQuery.each(data, function(index, item) {
                        for (let i = 0; i < item.length; i++) {
                            id_status.append('<option value="' + item[i].id + '">' + item[i].nama + '</option>');
                            id_upd_status.append('<option value="' + item[i].id + '">' + item[i].nama + '</option>');
                        }
                    });
                }).catch(error => {
                    console.error('Error:', error);
                });

                // Ambil Data List Produk
                var url = 'http://localhost:8080/api/v1/produk/list';
                fetch(url, {
                    method: 'GET',
                }).then(response => response.json()).then(data => {
                    // Panggil fungsi untuk mengisi data ke dalam tbody DataTable
                    populateDataTable(data);
                }).catch(error => {
                    console.error('Error:', error);
                });

                function populateDataTable(data) {
                    var tableBody = jQuery("#data-body");

                    // Bersihkan isi tbody sebelum mengisi dengan data baru
                    tableBody.empty();

                    var rowDataArray = []; // Variabel untuk menyimpan objek baris

                    // Perulangan menggunakan jQuery.each()
                    jQuery.each(data, function(index, item) {
                        for (let i = 0; i < item.length; i++) {
                            // // Create an object with the desired properties
                            var rowData = {
                                id: item[i].id,
                                kategori_id: item[i].kategori_id,
                                kategori_nama: item[i].kategori_nama,
                                status_id: item[i].status_id,
                                status_nama: item[i].status_nama,
                                nama: item[i].nama,
                                harga: item[i].harga,
                            };

                            // Push the object to the data array
                            rowDataArray.push(rowData);
                        }
                    });

                    var dataTable = jQuery('#data-table').DataTable();
                    if (dataTable) {
                        // Destroy DataTable
                        dataTable.destroy();
                    }

                    // Initialize DataTable
                    var table = jQuery('#data-table').DataTable({
                        data: rowDataArray,
                        columns: [
                            { data: 'nama'},
                            { data: 'kategori_nama'},
                            { data: 'harga'},
                            { data: 'status_nama'},
                            {
                                data: null,
                                render: function (data, type, row) {

                                    // Create action buttons
                                    var editBtn = '<button class="btn btn-primary btn-edit" data-id="' + data.id + '" data-kategori_id="' + data.kategori_id + '" data-status_id="' + data.status_id + '" data-nama="' + data.nama + '" data-harga="' + data.harga + '"><i data-feather="edit" class="w-4 h-4"></i></button>';
                                    var deleteBtn = '<button class="btn btn-danger btn-delete" data-id="' + data.id + '"><i data-feather="trash-2" class="w-4 h-4"></i></button>';

                                    // Combine the buttons
                                    var actions = editBtn + '  ||  ' + deleteBtn;
                                    return actions;
                                }
                            }
                        ],
                        "order": [[0, 'desc']],
                        "drawCallback": function( settings ) {
                            feather.replace();
                        }
                    });

                    // Passing data list row ke dalam modal update
                    jQuery('#data-table').on('click', '.btn-edit', function() {
                        // Show the modal
                        tailwind.Modal.getOrCreateInstance(jQuery("#header-update-footer-modal-preview")[0]).show();

                        var id = jQuery(this).attr("data-id");
                        var kategori_id = jQuery(this).attr("data-kategori_id");
                        var status_id = jQuery(this).attr("data-status_id");
                        var nama = jQuery(this).attr("data-nama");
                        var harga = jQuery(this).attr("data-harga");

                        // Handle edit action
                        jQuery('.upd-id').val(id);
                        jQuery('.upd-id-kategori').val(kategori_id);
                        jQuery('.upd-id-status').val(status_id);
                        jQuery('.upd-nama').val(nama);
                        jQuery('.upd-harga').val(harga);
                    });

                    // Tombol Update Admin
                    jQuery(".btn-update").click(function() {
                        // Ajax update
                        var updid = jQuery('.upd-id').val();
                        var updidkategori = jQuery('.upd-id-kategori').val();
                        var updidstatus = jQuery('.upd-id-status').val();
                        var updnama = jQuery('.upd-nama').val();
                        var updharga = jQuery('.upd-harga').val();

                        // Validasi data
                        if (updnama === "")
                        {
                            jQuery('.nama-update-notif').show()
                        }else{
                            jQuery('.nama-update-notif').hide()
                        }

                        if (updharga.trim() === "") {
                            jQuery('.harganull-update-notif').show()
                            jQuery('.harga-update-notif').hide()
                        } else if (isNaN(updharga)) {
                            jQuery('.harga-update-notif').show()
                            jQuery('.harganull-update-notif').hide()
                        }else{
                            jQuery('.harga-update-notif').hide()
                            jQuery('.harganull-update-notif').hide()
                        }

                        // Kirim permintaan pembaruan produk ke API
                        jQuery.ajax({
                            url: 'http://localhost:8080/api/v1/produk/update-data/' + updid,
                            type: "PUT",
                            contentType: 'application/x-www-form-urlencoded',
                            data: {
                                kategori_id: updidkategori,
                                status_id: updidstatus,
                                nama: updnama,
                                harga: updharga,
                            },
                            success: function(response) {
                                // Show the modal
                                jQuery('.update-sukses').text(response.message);
                                Toastify({
                                    node: $("#success-update-notification-content")
                                        .clone()
                                        .removeClass("hidden")[0],
                                    duration: 3000,
                                    newWindow: true,
                                    close: true,
                                    gravity: "top",
                                    position: "right",
                                    stopOnFocus: true,
                                }).showToast();

                                setTimeout(function() {
                                    location.reload();
                                }, 3000); // 3000 milliseconds = 3 seconds
                            },
                            error: function(xhr, status, error) {
                                // Show the modal
                                jQuery('.update-gagal').text(response.message);
                                Toastify({
                                    node: $("#failed-update-notification-content")
                                        .clone()
                                        .removeClass("hidden")[0],
                                    duration: 5000,
                                    newWindow: true,
                                    close: true,
                                    gravity: "top",
                                    position: "right",
                                    stopOnFocus: true,
                                }).showToast();

                                setTimeout(function() {
                                    location.reload();
                                }, 5000); // 3000 milliseconds = 3 seconds
                            }
                        });
                    });

                    // Fungsi Tombol hapus
                    jQuery('#data-table').on('click', '.btn-delete', function() {
                        var hpsid = jQuery(this).attr("data-id");

                        // Show the modal
                        tailwind.Modal.getOrCreateInstance(jQuery("#delete-modal-preview")[0]).show();

                        jQuery('.btn-iya').click(function() {
                            // Ajax delete Api
                            jQuery.ajax({
                                url: 'http://127.0.0.1:8080/api/v1/produk/hapus-data/' + hpsid,
                                type: 'DELETE',
                                success: function(response) {
                                    // Show the modal
                                    jQuery('.hapus-sukses').text(response.message);
                                    Toastify({
                                        node: $("#success-hapus-notification-content")
                                            .clone()
                                            .removeClass("hidden")[0],
                                        duration: 3000,
                                        newWindow: true,
                                        close: true,
                                        gravity: "top",
                                        position: "right",
                                        stopOnFocus: true,
                                    }).showToast();

                                    setTimeout(function() {
                                        location.reload();
                                    }, 3000); // 3000 milliseconds = 3 seconds
                                },
                                error: function(xhr, status, error) {
                                    // Show the modal
                                    var hpes = JSON.parse(xhr.responseText);
                                    jQuery('.hapus-gagal').text(hpes.message);
                                    Toastify({
                                        node: $("#failed-hapus-notification-content")
                                            .clone()
                                            .removeClass("hidden")[0],
                                        duration: 5000,
                                        newWindow: true,
                                        close: true,
                                        gravity: "top",
                                        position: "right",
                                        stopOnFocus: true,
                                    }).showToast();
                                }
                            });
                        });
                    });
                }

                jQuery('.btn-tambah').click(function() {
                    // jQuery('#header-footer-modal-preview').modal('show');
                    tailwind.Modal.getOrCreateInstance(jQuery("#header-footer-modal-preview")[0]).show();
                })

                jQuery(".btn-simpan").click(function() {
                    var kategories = jQuery('.form-id-kategori').val()
                    var statuses = jQuery('.form-id-status').val()
                    var name = jQuery('.form-nama').val()
                    var harga = jQuery('.form-harga').val()

                    // Validasi data
                    if (name === "")
                    {
                        jQuery('.nama-create-notif').show()
                    }else{
                        jQuery('.nama-create-notif').hide()
                    }

                    if (harga.trim() === "") {
                        jQuery('.harganull-create-notif').show()
                        jQuery('.harga-create-notif').hide()
                    } else if (isNaN(harga)) {
                        jQuery('.harga-create-notif').show()
                        jQuery('.harganull-create-notif').hide()
                    }else{
                        jQuery('.harga-create-notif').hide()
                        jQuery('.harganull-create-notif').hide()
                    }

                    var formData = new FormData();
                    formData.append('kategori_id', kategories);
                    formData.append('status_id', statuses);
                    formData.append('nama', name);
                    formData.append('harga', harga);

                    // Kirim permintaan pembaruan produk ke API
                    jQuery.ajax({
                        url: 'http://localhost:8080/api/v1/produk/tambah-data',
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(response) {
                            if (response.status == 'Sukses')
                            {
                                // Tampilkan notifikasi toast sukses
                                jQuery('.pesan-sukses').text(response.message);
                                Toastify({
                                    node: $("#success-notification-content")
                                        .clone()
                                        .removeClass("hidden")[0],
                                    duration: 2000,
                                    newWindow: true,
                                    close: true,
                                    gravity: "top",
                                    position: "right",
                                    stopOnFocus: true,
                                }).showToast();

                                // Redirect ke halaman dashboard admin
                                setTimeout(function() {
                                    location.reload()
                                }, 3000); // 3000 milliseconds = 3 seconds
                            }
                        },
                        error: function(xhr, status, error) {
                            // Show the modal
                            // Parsing responseText sebagai JSON
                            var hpes = JSON.parse(xhr.responseText);
                            jQuery('.pesan-gagal').text(hpes.message);
                            Toastify({
                                node: $("#failed-notification-content")
                                    .clone()
                                    .removeClass("hidden")[0],
                                duration: 2000,
                                newWindow: true,
                                close: true,
                                gravity: "top",
                                position: "right",
                                stopOnFocus: true,
                            }).showToast();
                        }
                    });
                })
            })
        </script>
        <!-- END: Vendor JS Assets-->
        <!-- BEGIN: Pages, layouts, components JS Assets-->
        <!-- END: Pages, layouts, components JS Assets-->
    </body>
</html>